nav {
    display: flex;
    justify-content: space-between;
}

nav div {
    display: flex;
    gap: 10px;
}

a {
    margin: 10px;
    text-decoration: none;
    padding: 10px;
    background-color: lightblue;
    border-radius: 15px;
    color: white;
}

form {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form>* {
    border-radius: 20px;
    padding: 10px;
}

/* таблицы */

table {
    width: 100%;
    border-collapse: collapse;
}

thead tr {
    background-color: lightblue;
    color: white;
    text-align: left;
}

th,
td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid lightgray;
}

tbody tr:nth-of-type(even) {
    background-color: lightcyan;
}

tbody tr:last-of-type {
    border-bottom: 2px solid lightblue;
}