{% extends "_layout.html" %}

{% block content %}
<h1>Новая заявка на обучение</h1>

<form action="/create" method="post">
    <select name="course">
        <option value="ОАиП">Основы алгоритмизации и программирования</option>
        <option value="ОВБ">Основы Веб-дизайна</option>
        <option value="ОПБД">Основы проектирования баз данных</option>
    </select>
    <input type="date" name="date">
    <select name="payment">
        <option value="fiz">Наличные</option>
        <option value="el">Перевод</option>
    </select>
    <input type="submit" value="Отправить">
</form>
{% endblock %}