{% extends "_layout.html" %}

{% block content %}
<h1>Мои заявки</h1>
{% if records %}
<table>
    <thead>
        <tr>
            <th>Курс</th>
            <th>Дата</th>
            <th>Оплата</th>
            <th>Отзыв</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td>{{ record.course }}</td>
            <td>{{ record.date }}</td>
            <td>{{ record.payment }}</td>
            <td>
                {% if record.review %}
                    {{ record.review }}
                {% else %}
                    Сначала нужно пройти обучение
                {% endif %}
            </td>
            <td>{{ record.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Заявок нет</p>
{% endif %}

{% endblock %}